<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Współczynnik Wyboczenia Ramy</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/wyboczenie_ramy.css">
    <script src="/static/js/wyboczenie_ramy.js"></script>
</head>
<body>
    <div class="container">
        <h1>Współczynnik Wyboczenia Ramy</h1>
        <a href="/" class="back-btn">Powrót do menu</a>
        <div class="content">
            <p>Tutaj będzie interfejs dla współczynnika wyboczenia ramy.</p>
        </div>
    </div>
</body>
</html>
